@{
    ViewData["Title"] = "Відмовлено в доступі";
}

<h1>Відмовлено в доступі</h1>
<p>У вас немає дозволу на перегляд цієї сторінки.</p>
<p><a asp-action="Index" asp-controller="Home">Повернутися на головну</a></p>